---
layout: default
title: 'All modules'
permalink: /modules
---
<section class="container">
  <div class="row">
    <div class="col text-center my-4">
      <h2 class="title">Create your own training</h2>
      <div class="underline mx-auto mt-3"></div>
      <p class="introduction">Here you can easily create your own training plan for your workshop.</p>
      <p class="introduction">Choose a training module you want to use in the workshop and set the order. The training configurator automatically calculates the times at which each module or its associated resources will start. You can also customize the times for your sessions. At the end, you can print your training plan. Good luck for your training.</p>
    </div>
  </div>
</section>
<section class="section bg-beige pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        {% assign difficulty-array = "" | split: ',' %}
        {% assign participant-array = "" | split: ',' %}
        {% for module in site.modules %}
          {% unless difficulty-array contains module.module.difficulty %}
            {% if module.module.difficulty == nil %}
              {% assign difficulty-array = difficulty-array | push: "Unknown" %}
            {% else %}
              {% assign difficulty-array = difficulty-array | push: module.module.difficulty %}
            {% endif %}
          {% endunless %}
          {% unless participant-array contains module.module.max-participants %}
            {% if module.module.max-participants == nil %}
              {% assign participant-array = participant-array | push: "Unknown" %}
            {% else %}
              {% assign participant-array = participant-array | push: module.module.max-participants %}
            {% endif %}
          {% endunless %}
        {% endfor %}

        {% assign difficulty-array = difficulty-array | sort | uniq %}
        {% comment %} {% if difficulty-array contains "Unknown" %}
          {% assign difficulty-array = difficulty-array | join: "|" | replace: "|Unknown|","|" | split: "|" | reverse | unshift: "Unknown" | reverse %}
        {% endif %} {% endcomment %}
        {% assign participant-array = participant-array | sort | uniq %}
        {% comment %} {% if participant-array contains "Unknown" %}
          {% assign participant-array = participant-array | join: "|" | replace: "|Unknown|","|" | split: "|" | reverse | unshift: "Unknown" | reverse %}
        {% endif %} {% endcomment %}

        <div class="dropdown mr-2 mb-2" style="float:left">
          <button class="btn btn-sm btn-primary dropdown-toggle" data-flip="false" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Difficulty Level</button>
          <div class="dropdown-menu sm mr-2 mb-2 filter-difficulty">
            <button class="dropdown-item all" type="button" data-difficulty="All">All</button>
            <div class="dropdown-divider"></div>
              {% for difficulty in difficulty-array %}
            <button class="dropdown-item" type="button" data-difficulty="{{ difficulty }}">{{ difficulty }}</button>
            {% endfor %}
          </div>
        </div>

        <div class="dropdown mr-2 mb-2" style="float:left">
          <button class="btn btn-sm btn-primary dropdown-toggle" data-flip="false" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Max. participant</button>
          <div class="dropdown-menu mr-2 mb-2 filter-participant">
            <button class="dropdown-item all" type="button" data-participants="All">All</button>
            <div class="dropdown-divider"></div>
            {% for participant in participant-array %}
              <button class="dropdown-item" type="button" data-participants="{{ participant }}">{{ participant }}</button>
            {% endfor %}
          </div>
        </div>

        <input type="search" class="form-control col-6 js-shuffle-search" id="filters-search-input" placeholder="search by name">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row my-shuffle-container">
      {% for module in site.modules %}
        {% if module.module.difficulty == nil or module.module.difficulty == "Unknown" %}
          {% assign difficulty = "Unknown" %}
        {% else %}
          {% assign difficulty = module.module.difficulty %}
        {% endif %}
        {% if module.module.max-participants == nil or module.module.max-participants == "Unknown" %}
          {% assign participant = "Unknown" %}
        {% else %}
          {% assign participant = module.module.max-participants %}
        {% endif %}
        <div class="module-item col-lg-4 col-md-6" data-difficulties="[&quot;{{ difficulty }}&quot;]" data-participants="[&quot;{{ participant }}&quot;]">
          <div class="module-img">
            <img src="{{ site.baseurl }}/assets/img/modules/{{ module.module.pic-url }}" class="img-fluid d-block mx-auto">
          </div>
          <div class="module-content">
            <span class="module-item__name">{{ module.module.name }}</span>
            <span class="">{% if module.module.description %}<p class="intro"> {{ module.module.description | markdownify }}</p>{% endif %}</span>
            <span>{{ module.module.duration }}</span>
            <span>{{ module.module.max-participants }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-1@sm col-1@xs my-sizer-element"></div>
  </div>
</section>

<script src="{{ site.baseurl }}/assets/js/modules.js"></script>