$color-element-background: rgb(75, 75, 128)
$color-element-font: #fff
    
#sidebar,
.noPrint,
a.edit,
.button,
.options,
.add-modules-breaks,
.attachments,
.display-print,
#top-summary
    display: none
#content
    padding: 0 10px
    transition: all 500ms ease
    .page-break
        display: block
        page-break-after: always
    .summary
        color: #000
    #training-plan
        border: 0
        .training-plan-icon
            display: none
.actions
    display: none

.pagebreak
    page-break-before: always
.dont-print,
#reference-button
    visibility: hidden
.print-display-none
    display: none !important
#reference-list,
#toc-list-wrapper
    display: block !important
.display-print
    display: block !important