<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/regular.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/brands.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/solid.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/v4-shims.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-josefin-sans.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-poppins.min.css">
    <script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/anime-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-5.3.2.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/shuffle-6.1.0.min.js"></script>
  </head>
  <body class="bg-primary">
    <div id="content">
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      
    </footer>
  </body>
</html>