<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome-6.4.2-all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-josefin-sans.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-poppins.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-noto-sans.min.css">
    <script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/anime-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-5.3.2.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/shuffle-6.1.0.min.js"></script>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.module.description %}<meta property="og:description" content="{{ page.module.description }}">{% elsif page.description %}<meta property="og:description" content="{{ page.description }}">{% else %}<meta property="og:description" content="{{ site.description }}">{% endif %}
    <meta property="og:type" content="website">
    {% if page.module.pic-url %}<meta property="og:image" content="{{ site.url }}{{ base.url }}/assets/img/modules/{{page.module.pic-url }}">{% elsif page.image %}<meta property="og:image" content="{{ site.url }}{{ base.url }}{{ page.image }}">{% else %}<meta property="og:image" content="{{ site.url }}{{ base.url }}/assets/img/screenshot.png">{% endif %}
    <meta property="og:url" content="{{ site.url }}{{ base.url }}{{ page.url }}" />
    <meta property="og:locale" content="en_GB" />
    <meta name="twitter:card" content="summary_large_image">
    {% if page.module.pic-url %}<meta property="twitter:image" content="{{ site.url }}{{ base.url }}/assets/img/modules/{{page.module.pic-url }}">{% elsif page.image %}<meta property="twitter:image" content="{{ site.url }}{{ base.url }}{{ page.image }}">{% else %}<meta property="twitter:image" content="{{ site.url }}{{ base.url }}/assets/img/screenshot.png">{% endif %}
  </head>
  <body>
    <!-- This section is a template if navigation is required.
    <header class="navigation container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse text-center" id="navigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ site.baseurl }}/"><i class="ti-home" style="font-size: 20px;"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    -->
    <div id="content">
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      
    </footer>
  </body>
</html>